@page
@model Xalapa.Web.Pages.ThesisStudents.DeleteModel
@{
    ViewData["Title"] = "Borrar";
}

<h1>Borrar</h1>

<h3>¿Estas seguro que deseas borrar este registro?</h3>
<div>
    <h4>Tesista</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EstudianteTesis.id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EstudianteTesis.id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EstudianteTesis.name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EstudianteTesis.name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EstudianteTesis.date_register)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EstudianteTesis.date_register)
        </dd>       
    </dl>

    <form method="post">
        <input type="hidden" asp-for="EstudianteTesis.id" />
        <input type="submit" value="Borrar" class="btn btn-danger" /> |
        <a asp-page="./Index">Regresar</a>
    </form>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}