@page
@model Xalapa.Web.Pages.ResearchCenters.IndexModel
@{
    ViewData["Title"] = "Centro de Investigaciones";
}

<h2>Centro de Investigaciones</h2>
<p>
    <a asp-page="Create">Crear Nuevo</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CentroInvestigaciones.FirstOrDefault().id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CentroInvestigaciones.FirstOrDefault().name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CentroInvestigaciones.FirstOrDefault().date_register)
            </th>
            <th colspan=3>
                Comandos
            </th>

        </tr>
    </thead>
    <tbody>
        @if(Model.CentroInvestigaciones.Count() > 0)
        {
              @foreach (var item in Model.CentroInvestigaciones)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.date_register)
                    </td>
                    <td>
                        <a class="btn btn-warning" asp-page="./Edit" asp-route-id="@item.id">Editar</a> |
                        <a class="btn btn-info"  asp-page="./Details" asp-route-id="@item.id">Detalle</a> |
                        <a class="btn btn-danger"  asp-page="./Delete" asp-route-id="@item.id">Borrar</a>
                    </td>
                </tr>
            }
        }        
    </tbody>
</table>
